[build]
  command = "npm run build"
  publish = "dist"

# Proxy for GoLivri / ProColis API to bypass CORS
[[redirects]]
  from = "/procolis-api/*"
  to = "https://procolis.com/api_v1/colis/:splat"
  status = 200
  force = true

# SPA Fallback
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
