[build]
  command = "npm run build"
  publish = "dist"

# Standard ProColis/Ecotrack Proxy
[[redirects]]
  from = "/api-v1-sync/*"
  to = "https://golivri.ecotrack.dz/api/v1/:splat"
  status = 200
  force = true

# SPA Fallback
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
